body {
  background:#222;
  font:normal 62.5%/1.5 'lucida grande', tahoma, sans-serif;
}
a {
  color:#333;
  padding:0 5px;
  text-decoration:none;
  text-shadow:0 1px 0 #FFF;
}
a:hover {
  color:#195DA0;
}
h1 {
  color:#FFF;
  font-size:36px;
  margin:50px;
  text-align:center;
  text-shadow:1px 1px 5px #000;
}
#calculator {
  background: #C6C6C6; /* old browsers */
  background: -moz-linear-gradient(top, #C6C6C6 0%, #9B9B9B 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C6C6C6), color-stop(100%,#9B9B9B)); /* webkit */
  -webkit-box-shadow:0 1px 50px rgba(0,0,0,0.8);
  border-radius:5px;
  margin:0 auto;
  padding:10px;
  width:300px;
}
#display {
  background: #212121; /* old browsers */
  background: -moz-linear-gradient(top, #212121 50%, #111111 50%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#212121), color-stop(50%,#111111)); /* webkit */
  border:1px solid rgba(0,0,0,0.5);
  border-radius:3px;
  -webkit-box-shadow:0 1px 0 rgba(255,255,255,0.3);
  color:#FFF;
  font-size:32px;
  padding:5px 5px;
  text-align:right;
  text-shadow:-1px -1px 0 rgba(0,0,0,1);
  width:284px;
}
button {
  background: #444444; /* old browsers */
  background: -moz-linear-gradient(top, #444444 0%, #333333 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#333333)); /* webkit */
  border:1px solid rgba(0,0,0,0.5);
  border-radius:3px;
  -webkit-box-shadow:0 1px 0 rgba(255,255,255,0.3);
  color:#FFF;
  cursor:pointer;
  font-size:20px;
  font-weight:bold;
  padding:0;
  text-shadow:-1px -1px 0 rgba(0,0,0,1);
  width:70px;
}

button span {
  border:solid rgba(255,255,255,0.2);
  border-radius:2px;
  border-width:1px 0 0 1px;
  display:block;
  padding:10px 25px;
}

button.pressed,
button:active {
  -webkit-box-shadow:inset 0 2px 20px #000000;
}
.action_key {
  background: #888888; /* old browsers */
  background: -moz-linear-gradient(top, #888888 0%, #777777 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#888888), color-stop(100%,#777777)); /* webkit */
  border:1px solid rgba(0,0,0,0.3);
  text-shadow:-1px -1px 0 rgba(0,0,0,0.4);
}
#zero {
  width:144px;
}
#equals {
  background: #EA7D00; /* old browsers */
  background: -moz-linear-gradient(top, #EA7D00 0%, #D86F00 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EA7D00), color-stop(100%,#D86F00)); /* webkit */
  border:1px solid rgba(0,0,0,0.3);
  height:98px;
  text-shadow:-1px -1px 0 rgba(0,0,0,0.4);
}

#equals  span {
  padding:37px 25px;
}

p {
  background: #E0E0E0; /* old browsers */
  border-radius:3px;
  padding:5px;
  text-align:center;
}